{% load static %}

<!DOCTYPE html>
<html lang="en">

<!-- START Notes: The elements below are not directly visible to users 
  when they view the webpage in a browser. Adjust then accordinly
  as they may impact metadata and other elements  - John D -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LeadGenCRM</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">  
</head>

<!-- END Notes:  - John D -->

<body>
  <div class="max-w-7xl mx-auto ">
    {%include 'navbar.html'%}
    {% block content %}
    {% endblock content%}
</div>
  {%include "scripts.html"%}
   
</body>
</html>